<div class="stepper">
    <h1>Registration form</h1>
  <form name="rform" #registerForm="ngForm">
      <mat-stepper orientation="vertical" linear #stepper >
          <mat-step label="Fill in personal info">
            
            <ul>
              <li>
                <mat-form-field appearance="fill">
                  <mat-label>Full name</mat-label>
                  <input matInput type="text" name="name" [(ngModel)]="user.name" required>
                  <mat-hint *ngIf="user.name == ''">Required</mat-hint>
                  <mat-icon matSuffix></mat-icon>
                </mat-form-field>
              </li>
              <li>
                <mat-form-field appearance="fill">
                  <mat-label>Phone number</mat-label>
                  <input matInput type="number" name="phone" [(ngModel)]="user.phone" required>
                  <mat-hint *ngIf="user.phone == ''">Required</mat-hint>
                </mat-form-field>
              </li>
              <li style="margin-top: 35px;">
                <mat-radio-group [(ngModel)]="user.gender" name="gender" label-position="before" required>
                  <mat-label>Gender:</mat-label>
                  <mat-radio-button value="Male">Male</mat-radio-button>
                  <mat-radio-button value="Female">Female</mat-radio-button>
                </mat-radio-group>
              </li>
              <li>
                <mat-form-field appearance="fill">
                  <mat-label>Date of birth</mat-label>
                  <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="user.date" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </li>
              <li>
                <mat-form-field appearance="fill">
                  <mat-label>Biography</mat-label>
                  <textarea required matInput [(ngModel)]="user.biography"  rows="15" cols="40" ></textarea>
                  <!-- <input matInput type="text" name="biography" [(ngModel)]="user.biography" required> -->
                  <mat-hint *ngIf="user.biography == ''">Required</mat-hint>
                </mat-form-field>
              </li>
              
            </ul>
            <div>
              <button mat-button matStepperNext color="primary">Next</button>
            </div>
  
          </mat-step>
          <mat-step label="Fill in account info">
            
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>E-mail</mat-label>
                  <input matInput type="email" name="email" [formControl]="emailControl" [(ngModel)]="user.email" required [errorStateMatcher]="matcher"
                          placeholder="pat@example.com">
                  <mat-hint>Errors appear instantly!</mat-hint>
                  <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                  <mat-hint *ngIf="containSpace(user.email) === true" style="color:red;">Email can not contain space.</mat-hint>
                </mat-form-field>
              </div>  
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Username</mat-label>
                  <input matInput type="text" name="username" [(ngModel)]="user.username" required >     
                  <mat-hint *ngIf="user.username == ''">Required</mat-hint>  
                  <mat-hint *ngIf="usernames.includes(user.username)">Username already exists!</mat-hint>        
                  <mat-hint *ngIf="containSpace(user.username) === true" style="color:red;">Username can not contain space.</mat-hint>
                </mat-form-field>
                <!-- <div *ngIf="usernames.includes(customer.username)" class="errorText">Username already exists!</div> -->
              </div>   
              <div>
                <mat-form-field hintLabel="Between 8 and 20 characters, at least 1 letter, 1 number, 1 special character" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" name="password" id="password" minlength="8" maxlength="20" [(ngModel)]="user.password" required (change)="checkPass()">
                  <mat-hint *ngIf="isInBlackList">{{blackListPassMessage}}</mat-hint>
                  <mat-hint *ngIf="containSpace(user.password) === true" style="color:red;">Password can not contain space.</mat-hint>
                  <mat-hint *ngIf="containAllCharacters(user.password) === false" style="color:red;">Password must contain at least 1 letter, 1 number and 1 special character</mat-hint>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Confirm password</mat-label>
                  <input matInput type="password" name="repassword" [(ngModel)]="repassword" required>
                  <mat-hint *ngIf="user.password == ''">Required</mat-hint>
                  <mat-hint *ngIf="user.password !== repassword">It has to match with password</mat-hint>
                </mat-form-field>
              </div>
            
  
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext color="primary">Next</button>
                </div>
            </mat-step>
            
            <mat-step label="Submit registration request">
              <p><b>Before submiting, please choose as which user are you registrating and check info you filled</b></p>    
                <div style="margin-top: 2%;">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-raised-button color="accent" (click)="submit()" [disabled]="!(registerForm.valid && user.password === repassword && containAllCharacters(user.password))" >Submit</button>
                </div>
            </mat-step>
      </mat-stepper>
     </form>
    </div>
  
