<mat-toolbar color="primary" class="navbar">
    <button mat-button style="font-size : 25px" [routerLink]="['']">CompanyIn</button>
    <button *ngIf="roles.includes('ROLE_ADMIN')" style="margin-left : 25px" mat-button [routerLink]="['companies']">Companies</button>
    <button *ngIf="roles.includes('ROLE_USER')" style="margin-left : 25px" mat-button [routerLink]="['chat']">Chat</button>
    <button *ngIf="roles.includes('ROLE_USER')" style="margin-left : 25px" mat-button [routerLink]="['offers']">Job offers</button>
    <button *ngIf="!roles.includes('ROLE_ADMIN')" style="margin-left : 25px" mat-button [routerLink]="['users']">Users</button>
    <button *ngIf="roles.includes('ROLE_ADMIN') || roles.includes('ROLE_USER')" style="margin-left : 25px" mat-button [routerLink]="['create-job-offer']">Create job offer</button>


    <span class="example-spacer" ></span>
    <button *ngIf="roles.includes('ROLE_ADMIN') || roles.includes('ROLE_USER')" mat-icon-button [routerLink]="['user-profile']">
        <mat-icon >account_circle</mat-icon>
    </button>
    <button *ngIf="!roles.includes('ROLE_ADMIN') && !roles.includes('ROLE_USER')" mat-button [routerLink]="['register']">Register</button>
    <button *ngIf="!roles.includes('ROLE_ADMIN') && !roles.includes('ROLE_USER')" mat-raised-button [routerLink]="['login']">Log in</button>
    <button *ngIf="roles.includes('ROLE_ADMIN') || roles.includes('ROLE_USER')" mat-raised-button mat-button (click)="logOut()">Log out</button>
    </mat-toolbar>

