.rightChat {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}

.leftChat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
}